<% provide(:title, 'Edit Task') %>
<div class="col-md-8 col-md-offset-2">
  <h1>タスク編集</h1>

  <div class="row">
    <%= form_with( model: @task, url: user_task_path(@user), local: true, method: :patch) do |f| %>
        
      <%= f.label :name, class: "label-form" %>
      <%= f.text_field :name, class: "form-control" %>
      
      <%= f.label :description, class: "label-form" %>
      <%= f.text_area :description, rows: 5, class: "form-control" %>
      
      <%= f.submit "更新", class: "btn btn-lg btn-primary btn-form" %>
      <%= link_to "キャンセル", user_tasks_path(current_user.id),class: "btn btn-lg btn-primary btn-form" %>
    <% end %>
  </div> 
</div>
