<%#
<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
%>


<%= provide(:title, "Task index") %>
<h1>タスク一覧</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "タスク新規作成", new_user_task_path(current_user), class: "btn btn-lg btn-primary pull-right" %>
  <table class="table table-condensed table-hover" id="table-tasks">
    <thead>
      <tr>
        <th>名称</th>
        <th>作成日</th>
      </tr>
    </thead>

    <% @user.tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, user_tasks_path(task.id) %></td>
        <td><%= l(task.created_at, format: :long) %></td>
        <td><%= link_to "編集", "#", class: "btn btn-success" %></td>
        <td><%= link_to "削除", user_task_path(@user,task), method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
</div>